.container-fluid.border.border-dange
  section.row.border.border-warning
    block hero-content
  section.row.border.border-warning
    block deep-content
  section.row.border.border-warning
    block footing-content